@use 'mixins/typography-mixins' as *;

@font-face {
  src: url('../assets/fonts/SourceSans3-Regular.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 400;
}
@font-face {
  src: url('../assets/fonts/SourceSans3-Italic.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url('../assets/fonts/SourceSans3-SemiBold.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 600;
}
@font-face {
  src: url('../assets/fonts/SourceSans3-SemiBoldItalic.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 600;
  font-style: italic;
}
@font-face {
  src: url('../assets/fonts/SourceSans3-Bold.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 700;
}
@font-face {
  src: url('../assets/fonts/SourceSans3-BoldItalic.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url('../assets/fonts/SourceSans3-Black.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 900;
}
@font-face {
  src: url('../assets/fonts/SourceSans3-BlackItalic.ttf') format('truetype');
  font-family: 'Source Sans 3';
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: var(--font-family-brand), sans-serif;
  color: var(--text-icon-primary);
}

.text-primary {
  color: var(--text-icon-primary);
}
.text-secondary {
  color: var(--text-icon-secondary);
}
.text-disabled-light {
  color: var(--text-icon-disabled-light);
}
.text-disabled-dark {
  color: var(--text-icon-disabled-dark);
}
.text-inverse {
  color: var(--text-icon-inverse);
}
.text-white {
  color: var(--text-icon-white);
}
.text-success {
  color: var(--text-icon-success);
}
.text-warning {
  color: var(--text-icon-warning);
}
.text-error {
  color: var(--text-icon-error);
}

.display-md {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-responsive-4xl);
  line-height: var(--line-height-responsive-4xl);
}

.heading-lg {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-responsive-3xl);
  line-height: var(--line-height-responsive-3xl);
}

.heading-md {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-responsive-2xl);
  line-height: var(--line-height-responsive-2xl);
}

.heading-sm {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-responsive-xl);
  line-height: var(--line-height-responsive-xl);
}

.body-lg {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-responsive-lg);
  line-height: var(--line-height-responsive-lg);
}

.body-lg-bold {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-responsive-lg);
  line-height: var(--line-height-responsive-lg);
}

.body-md {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-responsive-md);
  line-height: var(--line-height-responsive-md);
}

.body-md-bold {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-responsive-md);
  line-height: var(--line-height-responsive-md);
}

.body-md-semibold {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-responsive-md);
  line-height: var(--line-height-responsive-md);
}

.body-md-link {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-responsive-md);
  line-height: var(--line-height-responsive-md);
  text-decoration: underline;
}

.label-md {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-responsive-sm);
  line-height: var(--line-height-responsive-sm);
}

.label-md-bold {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-responsive-sm);
  line-height: var(--line-height-responsive-sm);
}

.label-sm {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-responsive-xs);
  line-height: var(--line-height-responsive-xs);
}

.label-sm-bold {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-responsive-xs);
  line-height: var(--line-height-responsive-xs);
}

.body-lg-fixed {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-fixed-lg);
  line-height: var(--line-height-fixed-lg);
}

.body-lg-bold-fixed {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-fixed-lg);
  line-height: var(--line-height-fixed-lg);
}

.body-md-fixed {
  @include body-md-fixed;
}

.body-md-bold-fixed {
  @include body-md-bold-fixed;
}

.body-md-semibold-fixed {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-fixed-md);
  line-height: var(--line-height-fixed-md);
}

.body-md-link-fixed {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-fixed-md);
  line-height: var(--line-height-fixed-md);
  text-decoration: underline;
}

.label-md-fixed {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-fixed-sm);
  line-height: var(--line-height-fixed-sm);
}

.label-md-bold-fixed {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-fixed-sm);
  line-height: var(--line-height-fixed-sm);
}

.label-md-semibold-fixed {
  @include label-md-semibold-fixed;
}

.label-md-italic-fixed {
  @include label-md-italic-fixed;
}

.label-sm-fixed {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-fixed-xs);
  line-height: var(--line-height-fixed-xs);
}

.label-sm-bold-fixed {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-fixed-xs);
  line-height: var(--line-height-fixed-xs);
}

.label-xs-fixed {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-fixed-2xs);
  line-height: var(--line-height-fixed-2xs);
}

.label-xs-bold-fixed {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-fixed-2xs);
  line-height: var(--line-height-fixed-2xs);
}
